<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OG Gunbemi's Website</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main_app/css/style.css' %}">
</head>
<body>
    <header>
        <h1>OG Gunbemi's Website</h1>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 OG Gunbemi</p>
    </footer>
</body>
</html>
